<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="xxxx" />
    <meta name="description" content="" />
    <meta name="copyright" content="Copyright &copy;dialog " />
    <script src="https://unpkg.com/vue/dist/vue.js">
    < script >
        window.addEventListener(('orientationchange' in window ? 'orientationchange' : 'resize'), (function() {
            function c() {
                var d = document.documentElement;
                var cw = d.clientWidth || 750;
                d.style.fontSize = (20 * (cw / 375)) > 40 ? 40 + 'px' : (20 * (cw / 375)) + 'px';
            }

            c();
            return c;
        })(), false);
    </script>
    <script>
    window.onload = function() {
        var app = new Vue({
            el: '#app',
            data: {
                message: '<%=name%>'
            }
        });
    }
    </script>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    {name};
    我是登录页面我的id:
    <%=id%>
        <br/>我的名字：
        <%=name%>
</body>

</html>
